@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Day19Lab1.Models.Customer
@{
}

<div class="card" style="width:380px">
    <img class="card-img-top" src="" />
    <div class="card-header">
        Customer
    </div>
    <div class="card-body">
        <div class="card-title">@Model.CustomerName</div>
        <div class="card-text">email: @Model.CustomerEmail</div>
        <a href="#" class="card-link">Edit</a>
    </div>
    <div class="card-footer">
        <br/>
    </div>
</div>
