@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    decimal result = 0.0m;
    if(ViewData.ContainsKey("result")) {
        result = (decimal)ViewData["result"];
    }
}

<h1>Welcome to My Calculator page</h1>
<hr />
<form>
    <input type="number" name="a" class="form-control"/>
    <br />
    <input type="number" name="b" class="form-control"/>
    <br />
    <button asp-controller="Calc" asp-action="Sum">+</button>
    <button asp-controller="Calc" asp-action="Sub">-</button>
    <button asp-controller="Calc" asp-action="Mul">*</button>
    <button asp-controller="Calc" asp-action="Div">/</button>
    <hr />
    <label class="form-control">@result</label>
    <hr />
</form>
